<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" />
    <link rel="stylesheet" href="/stylesheets/sb-admin-2.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/highcharts-custom.js"></script>
    <script src="/javascripts/app.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <h1 class="page-header">Weather</h1>

            <div id="error-container"></div>

            <!-- Small widgets -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <!-- Currently inside -->
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-home fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="curr-temp-inside" class="huge">°</div>
                                    <div>Humidity: <span id="curr-hum-inside"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Currently inside</span>
                            <span id="btn-reload-inside" class="pull-right btn-reload-small"><i class="fa fa-refresh"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <!-- Currently outside -->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tree fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="curr-temp-outside" class="huge"></div>
                                    <div>Humidity: <span id="curr-hum-outside"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-left">Currently Outside</span>
                            <span id="btn-reload-outside" class="pull-right btn-reload-small"><i class="fa fa-refresh"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!-- Forecast -->
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cloud fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="forecast-summary"></div>
                                </div>
                            </div>
                        </div>
                        <a id="forecast-link" target="_blank">
                            <div class="panel-footer">
                                <span class="pull-left">Details on Forecast.io</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Graphs, main content -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- Graph: today vs. yesterday -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Today vs.
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span>yesterday</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li id="chart-interval-today-vs" class="dropdown-header">Select interval</li>
                                    <li data-selector="yesterday"><a href="#">yesterday</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li data-selector="custom"><a href="#">custom</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="highcharts-container" id="chart-today-vs"></div>
                        </div>
                    </div>

                    <!-- Graph: Last week -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Last
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span id="dropdown-label-past">week</span>
                                    <span class="caret"></span>
                                </button>
                                <ul id="chart-interval-past" class="dropdown-menu" role="menu">
                                    <li class="dropdown-header">Select interval</li>
                                    <li data-interval="24h"><a href="#">24h</a></li>
                                    <li data-interval="week"><a href="#">week</a></li>
                                    <li data-interval="month"><a href="#">month</a></li>
                                    <li class="divider" role="separator"></li>
                                    <li data-interval="custom"><a href="#">custom</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="highcharts-container" id="chart-past"></div>
                        </div>
                    </div>
                </div>
                <!-- Right side panels -->
                <div class="col-lg-4">
                    <!-- Stats -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Stats
                        </div>
                        <div id="stats" class="panel-body">
                        </div>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</body>
</html>