<html>
<head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/sb-admin-2.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/highcharts-custom.js"></script>
    <script src="/javascripts/app.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <h1 class="page-header">Weather</h1>

            <!-- Small widgets -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26°</div>
                                    <div>Humidity: 46%</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-right">Inside</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26°</div>
                                    <div>Humidity: 46%</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-right">Outside</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13:37</div>
                                    <div>2015.07.03</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="pull-right">5:55   8:32   86%</span>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Graphs, main content -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Today vs.
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>yesterday</li>
                                    <li>custom</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!-- Highcharts comes here -->
                        </div>
                    </div>
                    <!-- /.panel -->

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Last
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>24h</li>
                                    <li>week</li>
                                    <li>custom</li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <!-- Highcharts comes here -->
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Forecast.io
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                    <!-- /.panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Stats
                        </div>
                        <div class="panel-body">
                        </div>
                        <!-- /.panel-body -->
                    </div>        
                </div>
                <!-- /.col-lg-4 -->
            </div>
        </div>
        <!-- /small widgets -->

        
    </div>
</body>
</html>