doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/javascripts/highcharts-custom.js')
    script(src='/javascripts/app.js')

    
  body
    block content