body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

#stats {
    border-collapse: collapse;
}

#stats td, #stats th {
    padding: 3px 5px;
    min-width: 70px;
    text-align: right;
}

.up-arrow {
    margin-right: 4px;
    color: #F7605C;
    cursor: pointer;
}

.down-arrow {
    margin-right: 4px;
    color: #7C8FBF;
    cursor: pointer;
}

.container {
    padding-top: 15px;
}

.btn-reload-small {
    position: relative;
    top: 3px;
    cursor: pointer;
}

.highcharts-container {
    height: 250px;
}

.panel-primary > .panel-heading,
.panel-green > .panel-heading,
.panel-red > .panel-heading,
.panel-yellow > .panel-heading {
    text-shadow: 1px 1px 1px #444;
}

#forecast-summary {
    font-style: italic;
    font-size: 16px;
}

#btn-reload-all {
    margin-left: 10px;
    position: relative;
    top: 10px;
}