/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chart {
    width: 800px;
    float: left;
}

.float-left {
    float: left;
    margin: 0 30px;
}

.clear {
    clear: both;
}

.temp-huge {
    font-size: 40px;
    font-weight: bold;
}*/

#stats {
    border-collapse: collapse;
}
#stats td, #stats th {
    padding: 3px 5px;
    min-width: 70px;
    text-align: right;
}

.up-arrow {
    margin-right: 4px;
    color: #F7605C;
    cursor: pointer;
}

.down-arrow {
    margin-right: 4px;
    color: #7C8FBF;
    cursor: pointer;
}

.container {
    background: #fff;
}

.btn-reload-small {
    position: relative;
    top: 3px;
    cursor: pointer;
}

.highcharts-container {
    height: 300px;
}

@media (max-width: 768px) {
    .highcharts-container {
        height: 250px;
    }
}

.panel-primary > .panel-heading,
.panel-green > .panel-heading,
.panel-red > .panel-heading,
.panel-yellow > .panel-heading {
    text-shadow: 1px 1px 1px #444;
}

#forecast-summary {
    font-style: italic;
    font-size: 16px;
}